[run]
source=calisim
omit =
    */tmp*
    */Temp/*
    */usr/local/lib*
    *tests/*
    calisim/experimental/*

[report]
skip_empty = true
fail_under = 70
omit =
    */tmp*
    */Temp/*
    */usr/local/lib*
    *tests/*
    calisim/experimental/*
